 <div class="container">

 <div class="card d-flex">
  <% @count = 0 %>
    <% @products.each do |product| %>
    <% if @count < 10 %>
    <img src= <%= "#{product['images'][0]['src']}" %> >
    <%= product['variants'][0]['option1'] %>//
    <% if  product['variants'][0]['option2'] =!'sans'%>
      <%= product['variants'][0]['option2'] %>
       <% end %>
    <% @count += 1 %>
    <% end %>
  <% end %>
</div>
</div>
