 <div class="container">

 <div class="card">
  <% @count = 0 %>
    <% @products.each do |product| %>
    <% if @count < 10 %>
    <div class="card row " style="width: 18rem;">
      <img class="card-img-top" src=<%= "#{product['images'][0]['src']}" %> alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"> <%= product['variants'][0]['option1'] %>
        <%= product['variants'][0]['option2'] %>
        </h5>
        <p class="card-text"> <%= product['variants'][0]['price'] %> </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <% @count += 1 %>
    <% end %>
  <% end %>
</div>
</div>
